<hr />
<div *ngIf="!game">
    <button type="button" class="btn btn-block btn-lg btn-outline-dark" [routerLink]="['/create']">
        <i class="fa fa-gamepad"></i> New Game
    </button>
</div>
<div *ngIf="game">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-orange btn-rounded waves-effect btn-lg btn-block" (click)="startStop()"><i
                    class="fa fa-clock-o" aria-hidden="true"></i> {{ progress ? 'Stop' : 'Start' }}</button>
        </div>
        <div class="col-6">
            <button *ngIf="!progress" class="btn btn-orange btn-lg btn-rounded waves-effect btn-block"
                (click)="previous()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        </div>
        <div class="col-6">
            <button *ngIf="!progress" class="btn btn-orange btn-lg btn-rounded waves-effect btn-block"
                (click)="next()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
