.dsmtw-logo {
    content: "";
    margin:auto;
    text-align:center;
    display:block;
    min-height:220px;
    background-image: url('../../../../../assets/img/logo-full.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
}