<div *ngIf="!game">
    <button type="button" class="btn btn-block btn-lg btn-outline-dark" [routerLink]="['/create']">
        <i class="fa fa-gamepad"></i> New Game
    </button>
</div>
<div class="players clocks row" *ngIf="game && game.players">
    <div *ngFor="let player of game.players" class="col">
        <div class="text-center margin-auto">
            <app-countdown [player]="player"></app-countdown>
        </div>
    </div>
</div>
<div class="questions text-center" *ngIf="questions">
    <span *ngFor="let question of questions" class="number" [class.font-weight-bold]="question % 3 === 0"
        [class.painted]="question === current">
        {{question}}
    </span>
</div>
<div *ngIf="game && questions && current <= questions.length">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-success btn-block btn-lg" (click)="correct()"><i class="fa fa-check"
                    aria-hidden="true"></i> ({{secondsDiff}})</button>
        </div>
        <div class="col-6">
            <button class="btn btn-danger btn-block btn-lg" (click)="incorrect()"><i class="fa fa-times"
                    aria-hidden="true"></i></button>
        </div>
    </div>
</div>
