<div class="players clocks row" *ngIf="this.game && this.game.players">
    <div *ngFor="let player of this.game.players" class="col">
        <div class="text-center margin-auto">
            <app-countdown [player]="player"></app-countdown>
        </div>
    </div>
</div>
<hr />
<div class="skip">
    <button type="button" class="btn btn-block btn-lg btn-outline-dark" (click)="this.skipIntro()">
        <i class="fa fa-fast-forward"></i> Skip
    </button>
</div>
<hr />
<div class="game-controls">
    <app-game-controls [game]="this.game" [possibleSeconds]="[-30, 30]"></app-game-controls>
</div>